/*GRID*/
.parent {
  display: grid;
  height: 100vh;
  margin: 0px;
  grid-template-columns: minmax(100px, 17%) 1fr;
  background-image: url(/assets/Background.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.555);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  height: 100vh;
  margin: 0px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}

#avatar1 {
  width: 150px;
  height: 150px;
  border-radius: 200px;
  margin: 0px;
}

#profile-name-2 {
  color: gray;
}

#city {
  color: gray;
}

#nav-items {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0px;
}

#conhecimentos {
  font-size: 20px;
}

#objetivos {
  font-size: 20px;
}

a {
  text-decoration: none;
  color: white;
}

.button:hover {
  background-color: rgba(255, 255, 255, 0.253);
  transition: all 0.5s;
}

body {
  overflow: hidden;
  margin: 0px;
}

.active {
  background-color: rgba(255, 255, 255, 0.253);
  font-weight: bolder;
}

.active:hover {
  transition: all 0.5s;
}
